body {
  margin: 0;
  font-family: sora;
  overflow-x: hidden;
  height: auto;
  min-height: 100vh;
  position: relative;
}

.nav_bar {
  background-color: #362641;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  .optionDiv1 {
    margin-left: 100px;
  }
  .optionDiv2 {
    margin-right: 100px;
  }
  .option_div {
    color: #f4f3ee;
    display: inline-flex;
    justify-content: space-between;
    // border: 1px solid red;
    align-items: center;
    .options {
      font-family: "Viaoda Libre", display;
      padding: 15px;
      p {
        letter-spacing: 3.45px;
        justify-content: center;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.375;
      }
    }
  }
  .title-div {
    color: #ffd66a;
    font-family: "Sora", sans-serif;
    padding: 10px;
    font-size: x-large;
    font-weight: 700;
    vertical-align: -4px;
    align-items: center;
  }
}
.containar {
  img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin-top: -10%;
  }

  .title-text {
    width: 44%;
    padding: 5rem 1rem;
    font-family: "Viaoda Libre", display;
    font-size: 2.5rem;
    // font-weight: 100;
    margin-bottom: 30px;
    h1 {
      color: #362641;
      text-align: left;
      font-weight: 300;
      letter-spacing: 0.15px;
      margin-left: 20px;
      line-height: 1;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}
.middle-div {
  background-color: #362641;
  width: 100%;

  .middle2-div {
    width: 90%;
    margin: auto;
    display: flex;
    // border: 1px solid red;
    padding-top: 10rem;
    padding-bottom: 6rem;
    .text-div1 {
      width: 50%;
      .text-div2 {
        // border: 1px solid red;
        padding: 15%;
        font-family: "Sora", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2;
        letter-spacing: 0.37px;
        p {
          color: #ffd66a;
        }
        p:nth-child(2) {
          color: #ffffff;
        }
        button {
          background-color: #ffd66a;
          color: #6a4d00;
          border: none;
          border-radius: 100px;
          cursor: pointer;
          padding: 14px 40px;
          font-size: 1rem;
          line-height: 2;
          font-weight: 700;
          transition: 0.5s;
        }
        button:hover {
          background-color: #e83e8c;
          color: white;
        }
      }
    }
    .imgdiv {
      width: 50%;
      // border: 1px solid blue;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.third-div {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e49dcd;
  .tText-div {
    text-align: center;
    color: #362641;
    margin-bottom: 60px;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 1.075;
    letter-spacing: 2.54px;
    h4 {
      margin-top: 0;
      font-family: "Viaoda Libre", display;
    }
  }
  .quad-div {
    display: grid;
    grid-template-columns: auto auto;
    // padding: 100px;
    // border: 1px solid red;
    width: 90%;
    margin: auto;
    gap: 50px;
    font-family: "Sora", sans-serif;
    h5 {
      letter-spacing: 2.54px;
      color: #362641;
      text-align: left;
      font-size: 1.3rem;
      line-height: 1.5;
    }
    p {
      color: #ffffff;
      font-size: 1rem;
      line-height: 2;
      letter-spacing: 0.37px;
      font-weight: 300;
    }
    img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
}
.fourth-containar {
  background-color: #362641;
  .second-div {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 90%;
    margin: auto;
    font-family: "Sora", sans-serif;
    h5 {
      letter-spacing: 2.54px;
      color: #e49dcd;
      text-align: left;
      font-size: 1.3rem;
      line-height: 1.5;
    }
    p {
      color: #ffffff;
      font-size: 1rem;
      line-height: 2;
      letter-spacing: 0.37px;
      font-weight: 300;
    }
    .box-div {
      display: flex;
      h3 {
        color: #ffd66a;
        // padding-left: 3rem;
        font-family: "Viaoda Libre", display;
        font-size: 3.125rem;
        font-weight: 500;
        letter-spacing: 2.54px;
      }
      .div5 {
        padding-left: 3rem;
      }
      p {
        // padding-left: 3rem;
        font-family: "Sora", sans-serif;
        font-size: 1rem;
        line-height: 2;
        letter-spacing: 0.37px;
        font-weight: 400;
      }
      img {
        display: block;
        width: 100%;
        height: 400px;
        // padding: 10px;
      }
      button {
        background-color: #ffd66a;
        color: #6a4d00;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        padding: 14px 40px;
        font-size: 1rem;
        line-height: 2;
        font-weight: 700;
        transition: 0.5s;
      }
      button:hover {
        background-color: #e83e8c;
        color: white;
      }
    }
    .bxd1 {
      div:nth-child(1) {
        width: 45%;
      }
      div:nth-child(2) {
        width: 55%;
      }
    }
    .bxd2 {
      margin-top: 6rem;
      div:nth-child(1) {
        width: 55%;
      }
      div:nth-child(2) {
        width: 45%;
      }
    }
  }
}
.fifth-container {
  margin-top: -70px;
  background-color: #ffd66a;
  padding-bottom: 6rem;
  h3 {
    color: #362641;
    padding-top: 6rem;
    text-align: center;
    font-family: "Viaoda Libre", display;
    font-size: 3.125rem;
    font-weight: 400;
    letter-spacing: 2.54px;
  }
  .box-div {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    width: 90%;
    margin: auto;
    div {
      background-color: #ffffff;
      margin-right: 25px;
      width: 33.3333%;
      div {
        width: 100%;
        // border: 1px solid red;
      }
      :nth-child(2) {
        // border: 1px solid red;
        // margin: 0 20px 0 10px;
        width: 85%;
        margin: auto;
        h5 {
          font-family: "Viaoda Libre", display;
          color: #e62b56;
          margin-bottom: 20px;
          margin-top: 20px;
          font-size: 3.125rem;
          line-height: 1.075;
          letter-spacing: 0.46px;
          font-weight: 400;
        }
        .illus {
          font-family: "Sora", sans-serif;
          font-size: 1rem;
          line-height: 1;
          text-align: left;
          letter-spacing: 0.37px;
          margin-left: -0px;
          // border: 1px solid #e62b56;
        }
        h4 {
          font-family: "Sora", sans-serif;
          font-size: 1rem;
          line-height: 2;
          letter-spacing: 0.37px;
          font-weight: 300;
          // opacity: 0.5;
          text-align: left;
        }
        p {
          font-family: "Sora", sans-serif;
          font-size: 1rem;
          line-height: 2;
          letter-spacing: 0.37px;
          color: #282727;
          font-weight: 200;
          // margin: -20px 0 -20px 0;
        }
      }
      .line-div {
        display: block;
        width: 100%;
        height: 1px;
        background: #725686;
        margin: 5px 0 10px 0;
        line-height: 1;
        // margin-top: 20px;
        // margin-bottom: 20px;
      }
      img {
        width: 100%;
        height: 400px;
        display: block;
      }
    }
  }
}
.sixth-div {
  background-color: #ffffff;
  .box-div {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    // border: 1px solid red;
    .text-div {
      font-family: "Sora", sans-serif;
      font-size: 1rem;
      line-height: 2;
      letter-spacing: 0.37px;
      h3 {
        font-weight: 300;
        margin-bottom: 25px;
        color: #e62b56;
        text-align: center;
        padding: 0%;
      }
      p {
        font-weight: 100;
        margin-bottom: 25px;
        text-align: center;
      }
    }
    .form-div {
      width: 80%;
      margin: auto;
      // border: 1px solid red;
      input {
        border: 1px solid #349670;
        height: 38px;
        align-items: center;
        width: 250px;
      }
      ::placeholder {
        color: #349670;
        padding-left: 20px;
        letter-spacing: 2px;
        font-weight: 400;
      }
      button {
        background-color: #349670;
        text-align: center;
        align-items: center;
        color: #ffffff;
        border: none;
        // height: 35px;
        padding: 14px 35px;
        font-size: 1rem;
        line-height: 1;
      }
    }
  }
}
.footer-div {
  background-color: #725686;
  footer {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.37px;
    ul{
      display: flex;
      justify-content: space-between;
      img{
        width: 100%;
        height: 15px;
      }
    }
  }
}
